@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Base styles for larger screens */
body {
    overflow-x: hidden;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Container for the quote generator */
#quote-generator {
    background-color: #333;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 2px solid #555;
    max-width: 600px;
}

/* Heading styles */
h1 {
    color: #bdbdbd;
    font-size: 23px;
    font-weight: 600;
}

/* Quote display styles */
#quote-display {
    margin-top: 10px;
    color: #ccc;
    font-size: 15px;
    background-color: #444;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    user-select: none;
}

#quote-display:hover {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

#quote-author {
    font-size: 14px;
    color: #999;
}

/* Buttons container */
.buttons-container {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    gap: 10px;
}

/* Button styles */
#generate-button,
#auto-button,
#copy-text-button {
    padding: 10px 15px;
    outline: none;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

#generate-button {
    background-color: #266afc;
    color: #fff;
}

#generate-button:hover {
    background-color: #1b52c9;
}

#auto-button {
    background-color: #ae21ca;
    color: #fff;
}

#auto-button:hover {
    background-color: #8d1ca3;
    color: #fff;
}

#auto-button i {
    margin-right: 5px;
}

#copy-text-button {
    background-color: #1d1b1b;
    color: #9e9696;
}

#copy-text-button:hover {
    background-color: #121111;
    color: #9e9696;
}

.tags-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 15px;
    padding-bottom: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tags-container::-webkit-scrollbar {
    display: none;
}

.tag-text {
    display: inline-block;
    background-color: #1d1c1c;
    color: #9e9696;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.ioan-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: lightgray;
    text-decoration: none;
}

.tooltip {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #quote-generator {
        padding: 40px 30px; /* Increase padding for larger UI on mobile */
        font-size: 18px;   /* Increase font size for larger UI on mobile */
    }
}
